{% extends 'layout/layout-index.html' %}

{% block body %}
<div class="row">
	<div class="col-md-12">
		<h1 class="page-header">{{title}} {% if user %}<small>{{user.name}}</small>{% endif %}</h1>
	</div>
</div>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/css/index.css">
{% endblock %}

{% block js %}
<script src="/js/util/swiper.js"></script>
<script>
$(function() {
	var mySwiper = new Swiper ('.swiper-container', {
		autoplay: 8000,
		loop: true,
		autoplayDisableOnInteraction: false,
		pagination: '.swiper-pagination',
		paginationClickable: true,
		speed: 1000,
		effect: 'fade'
	});
});
</script>
{% endblock %}