{% extends 'layout/layout.html' %}

{% block body %}
<div class="row">
	<div class="col-md-12">
		<h1 class="page-header">{{title}}</h1>
		<div class="col-md-3">
			<div class="form-group">
				<label for="name">用户名</label>
				<input type="email" class="form-control" id="name" placeholder="用户名">
			</div>
			<div class="form-group">
				<label for="password">密码</label>
				<input type="password" class="form-control" id="password" placeholder="密码">
			</div>
			<div class="form-group">
				<label for="passwordR">确认密码</label>
				<input type="password" class="form-control" id="passwordR" placeholder="确认密码">
			</div>
			<div class="form-group">
				<label for="usericon">用户头像</label>
				<input type="file" id="usericon">
				<!-- <p class="help-block">用户头像</p> -->
			</div>
			<button id="formSubmit" class="btn btn-default">注册</button>
		</div>
	</div>
</div>
{% endblock %}

{% block css %}
{% endblock %}

{% block js %}
<script>
$(function() {
	$('#formSubmit').on('click', function() {
		var msg  = '';
		var emailRE    = /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+((\.[a-zA-Z0-9_-]{2,3}){1,2})$/,
			passwordRE = /^[A-Za-z0-9]{6,20}$/;		// 6-20位字母数字组合
		var name      = $('#name').val().trim(),
			password  = $('#password').val().trim(),
			passwordR = $('#passwordR').val().trim();
		if (!emailRE.test(name)) msg = '用户名不正确';
		if (!passwordRE.test(password)) msg = '密码格式不正确';
		if (password != passwordR) msg = '两次输入的密码不一致';
		if (msg) {
			alert(msg);
			return false;
		}
		$.ajax({
			url: '/register',
			data: {
				name: name,
				password: password,
				passwordR: passwordR
			},
			type: 'post'
		}).done(function(d) {
			console.log(d);
			alert(d.message);
			if (d.code === '0000') {
				location.href = '/';
			}
		}).error(function(e) {
			console.log(e)
		})
	});
});
</script>
{% endblock %}