<header class="header navbar navbar-static-top">
	<div class="container">
		<div class="">
			<a href="/" class="navbar-brand">J24</a>
		</div>
		<nav>
			<ul class="nav navbar-nav">
				<li>
					<a href="/post">发表文章</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				{% if user %}
				<li>
					<a>{{user.name}}</a>
				</li>
				<li>
					<a href="/logout">退出</a>
				</li>
				{% else %}
				<li>
					<a href="/login">登录</a>
				</li>
				<li>
					<a href="/register">注册</a>
				</li>
				{% endif %}
			</ul>
		</nav>
	</div>
</header>