<header class="header navbar navbar-static-top">
	<div class="header-banner swiper-container">
		<ul class="swiper-wrapper">
			<li class="swiper-slide" style="background-image: url(/img/banner/1.jpg);">
				<div>1</div>
			</li>
			<li class="swiper-slide" style="background-image: url(/img/banner/2.jpg);">
				<div>2</div>
			</li>
			<li class="swiper-slide" style="background-image: url(/img/banner/3.jpg);">
				<div>3</div>
			</li>
			<li class="swiper-slide" style="background-image: url(/img/banner/4.jpg);">
				<div>4</div>
			</li>
			<li class="swiper-slide" style="background-image: url(/img/banner/5.jpg);">
				<div>5</div>
			</li>
		</ul>
	</div>
	<div class="container">
		<div class="">
			<a href="/" class="navbar-brand">Jimmy24</a>
		</div>
		<nav>
			<ul class="nav navbar-nav">
				<li>
					<a href="/post">发表文章</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				{% if user %}
				<li>
					<a>{{user.name}}</a>
				</li>
				<li>
					<a href="/logout">退出</a>
				</li>
				{% else %}
				<li>
					<a href="/login">登录</a>
				</li>
				<li>
					<a href="/register">注册</a>
				</li>
				{% endif %}
			</ul>
		</nav>
	</div>
</header>